$dark: #0a0a0a;

.App {
    &-header {
        background-color: $dark;
        box-shadow: 4px 4px 8px 1px #686686;
    }
    .nav-link {
        color: #fff !important;
        font-size: 20px;
        padding: 1rem !important;
        &:active{
            font-size: 20px;
            border-bottom: 0.3rem solid #fff;
        }
        &:hover{
            font-size: 20px;
            border-bottom: 0.3rem solid #fff;
        }
    }
    .nav-link.active {
        font-size: 20px;
        border-bottom: 0.3rem solid #fff;
    }
    
}